<div class="nav-outer">
  <div class="nav">
    <div class="logo">
      <span>Flash Flood Design </span>
    </div>
    <div class="links">
      <div class="link" >Home</div>
      <div class="link" >About</div>
      <div class="link" >Contact</div>
    </ul>
  </div>
</div>
