
@import "neat/neat";

body {
  margin: 0;
  padding: 0;
}

$primary-font: 'Merriweather', serif;

.background {
  height: 100%;
  background: linear-gradient(
    rgba(0,0,0,0.50),
    rgba(0,0,0,0.50)
    ), url("/assets/imgs/background/todd6.jpg") no-repeat center center fixed;
  background-size: cover;
}

.nav-outer {
  width: 100%;

      border-bottom: 1px solid rgba(256, 256, 256, .3);
  opacity: 0.95;

  .nav {
    @include grid-container;
    font-family: $primary-font;
    max-width: 1550px;
    margin: 0 auto;
    padding: 15px;
    height: 35px;
    color: white;

    .logo{
      @include grid-column(9);
      font-size: 1.5em;
    }

    .links {
      height: 35px;
      font-size: .9em;
      .link {
        @include grid-column(1)
      }
    }
  }
}
